
.button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;


}
.stretch-button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: padding-left .15s, padding-right .15s, padding-top .15s, padding-bottom .15s
}
.stretch-button:hover {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
